$def with(producto)
<form class="container mt-5" method="POST" action="">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-white border border-gray-200 rounded-lg shadow p-4 md:p-8">
                <div class="flex items-center justify-between mb-4">
                    <h5 class="text-xl font-bold leading-none text-gray-900">Detalles del producto</h5>
                </div>
                <div class="flow-root">
                    $for dato in producto:
                        <ul role="list" class="divide-y divide-gray-200">
                            <li class="py-3 sm:py-4">
                                <div class="flex items-center">
                                    <div class="flex-1 min-w-0 ms-4">
                                        <input value="$dato['id_producto']" type="hidden" id="producto" name="producto">
                                        <label class="text-sm font-medium text-gray-900 truncate" for="nombre">
                                            Nombre del producto:
                                        </label>
                                    </div>
                                    <input class="inline-flex items-center text-base font-semibold text-gray-900 form-control-plaintext" value="$dato['nombre']" type="text" id="nombre" name="nombre" readonly>
                                    </input>
                                </div>
                            </li>
                            <li class="py-3 sm:py-4">
                                <div class="flex items-center ">
                                    <div class="flex-1 min-w-0 ms-4">
                                        <label class="text-sm font-medium text-gray-900 truncate" for="descripcion">
                                            Descripción:
                                        </label>
                                    </div>
                                    <input class="inline-flex items-center text-base font-semibold text-gray-900 form-control-plaintext" value="$dato['descripción']" type="text" id="descripcion" name="descripcion" readonly>
                                    </input>
                                </div>
                            </li>
                            <li class="py-3 sm:py-4">
                                <div class="flex items-center">
                                    <div class="flex-1 min-w-0 ms-4">
                                        <label class="text-sm font-medium text-gray-900 truncate" for="precio">
                                            Precio:
                                        </label>
                                    </div>
                                    <input class="inline-flex items-center text-base font-semibold text-gray-900 form-control-plaintext" value="$dato['precio']" type="number" id="precio" name="precio" readonly>
                                    </input>
                                </div>
                            </li>
                            <li class="py-3 sm:py-4">
                                <div class="flex items-center ">
                                    <div class="flex-1 min-w-0 ms-4">
                                        <label class="text-sm font-medium text-gray-900 truncate" for="existencias">
                                            Existencias
                                        </label>
                                    </div>
                                    <input class="inline-flex items-center text-base font-semibold text-gray-900 form-control-plaintext" value="$dato['existencias']" type="number" id="existencias" name="existencias" readonly>
                                    </input>
                                </div>
                            </li>
                            <li class="pt-3 pb-0 sm:pt-4">
                                <div class="md:col-span-5 text-right flex flex-row justify-around items-center">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                    <a href="/" class="btn btn-info">Cancelar</a>
                                </div>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</form>
