$def with (producto)
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title font-weight-bold">Detalles del producto</h5>
                </div>
                <div class="card-body">
                    $for dato in producto:
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Nombre del producto:</strong> $dato['nombre']
                        </li>
                        <li class="list-group-item">
                            <strong>Descripción:</strong> $dato['descripción']
                        </li>
                        <li class="list-group-item">
                            <strong>Precio:</strong> $dato['precio'] MXN
                        </li>
                        <li class="list-group-item">
                            <strong>Existencias:</strong> $dato['existencias']
                        </li>
                    </ul>
                </div>
                <div class="card-footer text-right">
                    <a href="/" class="btn btn-info">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>
