<form class="container mt-5" method="POST" action="">
  <div class="row justify-content-center">
      <div class="col-md-8">
          <h2 class="font-weight-bold text-xl text-gray-600">Insertar Producto</h2>
          <p class="text-gray-500 mb-6">Ingresa un nuevo producto a tu inventario</p>

          <div class="card bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
              <div class="row">
                  <div class="col-12">
                      <label for="nombre_producto">Producto</label>
                      <input type="text" name="nombre_producto" id="nombre_producto" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="Tu producto" required/>
                  </div>

                  <div class="col-12 mt-4">
                      <label for="descripcion" class="block text-sm font-medium leading-6 text-gray-900">Descripción</label>
                      <textarea id="descripcion" name="descripcion" rows="3" class="form-control" placeholder="Escribe una descripción del producto" required></textarea>
                  </div>

                  <div class="col-md-9 mt-4">
                      <label for="precio">Precio</label>
                      <input type="number" name="precio" id="precio" class="form-control" value="" placeholder="" required/>
                  </div>

                  <div class="col-md-3 mt-4">
                      <label for="existencia">Existencia</label>
                      <input type="number" name="existencia" id="existencia" class="form-control" value="" placeholder="" required/>
                  </div>

                  <div class="col-12 mt-4 text-right">
                      <div class="btn-group">
                          <button type="submit" class="btn btn-success">Ingresar</button>
                          <a href="/" class="btn btn-danger">Cancelar</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>
